:root {
  --primary-color: rgb(75, 0, 90);
  --second-color: rgb(212, 212, 255);
  --third-color: rgb(220, 204, 235);
  --fort-color: rgb(139, 139, 245);
}
html {
  font-family: "Londrina Solid", cursive;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Londrina Solid", cursive;
  display: block;
  color: var(--primary-color);
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 150px;
}

h2 {
  font-size: 80px;
  padding-top: 30px;
}
h3 {
  padding-bottom: 100px;
}
p {
  font-size: 30px;
}
.intro {
  max-height: 1000px;
  width: 100%;
  background-color: var(--second-color);
  padding: 140px;
  margin: 0px auto;
}
.intro span {
  font-size: 80px;
}
.btn-contact {
  margin: 20px;
  font-size: 40px;
  border-radius: 10px;
  background-color: var(--third-color);
  color: var(--fort-color);
  transition: all 200ms ease-in-out;
}
.btn-contact:hover {
  font-size: 50px;
  background-color: var(--fort-color);
  color: var(--third-color);
}

.btn-general {
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--third-color);
  color: var(--fort-color);
  transition: all 200ms ease-in-out;
}

.btn-general:hover {
  font-size: 25px;
  background-color: var(--fort-color);
  color: var(--third-color);
}
.border-round {
  border-radius: 30px;
  width: 60%;
  display: block;
  margin: 0 auto;
}
.content {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0px auto;
  padding: 50px;
}
.logo {
  width: 10%;
}
.myname {
  display: inline;
}
.change-nav {
  background-color: var(--third-color) !important;
  font-size: 25px;
}
.contact {
  display: block;
  margin: 0px auto;
  padding: 80px;
}
.contact h2 {
  font-size: 50px;
}
#instagram {
  font-style: italic;
}

/*****aboutpage******/
.about-section h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}
.about-section h3 {
  font-size: 40px;
  padding: 0;
}
.about-section h2 {
  padding-top: 0;
}
.about-section p {
  font-size: 20px;
}
.about-section img {
  width: 100%;
  border-radius: 40px;
}
.btn-github {
  text-decoration: none;
  background-color: var(--third-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 5px 40px;
}
.btn-github:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}
.curriculum {
  margin: 20px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2,
  .intro span {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  p,
  .contact h2 {
    font-size: 20px;
  }
  content {
    padding: 20px;
  }
  .logo {
    width: 80%;
  }

  /****about****/
  .about-section h1 {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .about-section h3 {
    font-size: 20px;
    padding: 0;
  }
  .about-section h2 {
    padding-top: 0;
    font-size: 30;
  }
  .about-section p {
    font-size: 15px;
  }
  .btn-github {
    padding: 5px 10px;
  }
}
