:root {
  --primary-color: rgb(75, 0, 90);
  --second-color: rgb(212, 212, 255);
  --third-color: rgb(220, 204, 235);
  --fort-color: rgb(139, 139, 245);
  --m-p-30: 30px;
  --m-p-50: 50px;
  --m-p-20: 20px;
}
html {
  font-family: "Londrina Solid", cursive;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Londrina Solid", cursive;
  display: block;
  color: var(--primary-color);
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 150px;
}

h2 {
  font-size: 80px;
  padding-top: var(--m-p-30);
}
h3 {
  padding-bottom: 100px;
}
p {
  font-size: var(--m-p-30);
}
/*nav**/
#navi,
footer {
  background-color: var(--third-color);
}
nav {
  padding: 20px 0;
  font-size: 25px;
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  line-height: 40px;
}
nav a {
  text-decoration: none;
  color: rgb(134, 134, 134);
}
nav a:hover,
.active {
  color: var(--primary-color);
}

.intro {
  max-height: 1000px;
  width: 100%;
  background-color: var(--second-color);
  padding: 140px;
  margin: 0px auto;
}
.intro span {
  font-size: 80px;
}
.btn-contact {
  margin: var(--m-p-20);
  font-size: 40px;
  border-radius: 10px;
  background-color: var(--third-color);
  color: var(--fort-color);
  transition: all 200ms ease-in-out;
}
.btn-contact:hover {
  font-size: var(--m-p-50);
  background-color: var(--fort-color);
  color: var(--third-color);
}

.btn-general {
  margin: var(--m-p-20);
  font-size: var(--m-p-20);
  border-radius: 10px;
  background-color: var(--third-color);
  color: var(--fort-color);
  transition: all 200ms ease-in-out;
}

.btn-general:hover {
  font-size: 25px;
  background-color: var(--fort-color);
  color: var(--third-color);
}
.border-round {
  border-radius: var(--m-p-30);
  width: 60%;
  display: block;
  margin: 0 auto;
}
.content {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px auto;
  padding: 50px;
}
.logo {
  width: 10%;
}
.myname {
  display: inline;
}
.change-nav {
  background-color: var(--third-color) !important;
  font-size: 25px;
}
.contact {
  display: block;
  margin: 0px auto;
  padding: 80px;
}
.contact h2 {
  font-size: var(--m-p-50);
}
#instagram {
  font-style: italic;
}
i:hover {
  color: var(--third-color);
}
/*****aboutpage******/
.about-section h1 {
  padding-top: 80px;
  padding-bottom: var(--m-p-20);
}
.about-section h3 {
  font-size: 40px;
  padding: 0;
}
.about-section h2 {
  padding-top: 0;
}
.about-section p {
  font-size: var(--m-p-20);
}
.about-section img {
  width: 100%;
  border-radius: 40px;
  padding: 20px 0px;
}
.btn-github {
  text-decoration: none;
  background-color: var(--third-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--m-p-20);
  padding: 5px 40px;
}
.btn-github:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}
.curriculum {
  margin: var(--m-p-20);
}

/******work******/
.content img {
  border-radius: 40px;
}
footer {
  margin: 0px 0px;
  padding: 20px 0px;
  clear: both;
}
footer i:hover,
footer a:hover {
  color: black;
}

/***mobile***/
@media (max-width: 768px) {
  .myname {
    padding: 0;
    font-size: var(--m-p-50);
  }
  h1 {
    margin-top: 50px;
    font-size: var(--m-p-50);
  }
  h2,
  .intro span {
    font-size: var(--m-p-30);
  }
  h3 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  p,
  .contact h2 {
    font-size: var(--m-p-20);
  }
  content {
    padding: var(--m-p-20);
  }
  nav {
    padding: 20px 0;
    font-size: 15px;
  }
  .logo {
    width: 80%;
  }

  /****about****/
  .about-section h1 {
    padding-top: var(--m-p-50);
    padding-bottom: var(--m-p-20);
  }
  .about-section h3 {
    font-size: var(--m-p-20);
    padding: 0;
  }
  .about-section h2 {
    padding-top: 0;
    font-size: var(--m-p-30);
  }
  .about-section p {
    font-size: 15px;
  }
  .btn-github {
    padding: 5px 10px;
  }
}
